<div class="container">
  <p align="center"><strong>Entre com o</strong> <a href="#">Facebook</a> ou <a href="#"> Google</a></p>

  <hr class="hr-text" data-content="ou">

  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "col s12 m6 offset-m3"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">

        <div class="input-field col s12">
          <%= f.input :email, required: true, autofocus: true, label: "Email" %>
        </div>

        <div class="input-field col s12">
          <%= f.input :password, required: true, label: "Senha" %>
        </div>

        <div class="input-field col s12">
          <%= f.check_box :remember_me, class: "blue", as: :boolean if devise_mapping.rememberable? %>
          <%= f.label :remember_me, 'Lembrar-me' %>
        </div>

      </div>
    </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "col s12 red accent-2" %>
      </div>
    <% end %>
  </div>
</div>
