<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Voluntário", new_voluntary_session_path, data: { turbolinks: false } %></li>
  <li><%= link_to "Instituição", new_voluntary_session_path, data: { turbolinks: false } %></li>
</ul>

<nav class="nav light-blue lighten-1">
  <div class="container">

    <div class="nav-wrapper">
      <%= image_tag 'logo-gif.gif', class: "img-responsive", height: 60, width: 60 %>
      <%= link_to "Help2Save", root_path, class: "brand-logo", data: { turbolinks: false } %>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
        <li><a href="#">Vagas</a></li>
        <li><a href="#">Instituições</a></li>
        <li><a href="#">Voluntários</a></li>
        <% if !current_voluntary || !current_voluntary %>
          <!-- Modals -->
          <li><a href="#register-modal">Cadastre-se</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Entrar<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
      </ul> <!-- #nav-mobile -->

      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
        <li><a href="#">Vagas</a></li>
        <li><a href="#">Instituições</a></li>
        <li><a href="#">Voluntários</a></li>
        <!-- Modals -->
        <li><a href="#register-modal">Cadastre-se</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Entrar<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul> <!-- .side-nav -->

    </div> <!-- nav-wrapper -->

  </div> <!-- .container -->
</nav> <!-- .nav-extended -->

<%= render partial: "layouts/shared/register_modal" %>
