<div class="parallax-container">
  <div class="parallax"><%= image_tag 'h2s1.png', class: "img-responsive" %></div>
</div> <!-- .parallax-container -->

<div class="container section white">
  <div class="row">
    <h3 class="header">Vagas</h3>
      <% @jobs.each do |job| %>
        <div class="col s12 m4">
          <div class="card small amber lighten-3 sticky-action">
            <div class="card-content">
              <a class="card-title activator grey-text text-darken-4"> <%= job.title %> <i class="material-icons right">info_outline</i></a>
              <p><%= job.description %></p>
            </div> <!-- .card-reveal -->

            <div class="card-action center white">
              <a href="#">Ingressar</a>
            </div> <!-- .card-reveal -->

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Local<i class="material-icons right">close</i></span>
              <p class="center">
                Validade: <%= job.start_date %>, <%= job.end_date %>
              </p>
            </div> <!-- .card-reveal -->
          </div> <!-- .card amber lighten-4 sticky-action -->
        </div>
      <% end %>
  </div> <!-- .row -->

  <hr class="hr-text" data-content="ou">

  <div class="row">
    <h3 class="header">Instituições</h3>
  </div>
</div> <!-- .container section white -->

<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
    $('ul.tabs').tabs();
  });
</script>
