<div class="container devise-forms">
  <h4 class="center">Cadastre-se como <strong>Instituição</strong></h4>
  <hr class="hr-text" data-content="-">
  <div class="row">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "col s12 m6 offset-m3"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="input-field col s12">
            <%= f.input :name, label: 'Nome da instituição', required: true, autofocus: true %>
          </div>
          <div class="input-field col s12">
            <%= f.input :cnpj, label: 'CNPJ', required: true %>
          </div>

          <div class="input-field col s12">
            <%= f.input :email, required: true, label: 'Email', autofocus: true, label: "Email" %>
          </div>

          <div class="input-field col s12">
            <%= f.input :password, required: true, label: 'Senha' %>
          </div>

          <div class="input-field col s12">
            <%= f.input :password_confirmation, label: 'Confirmar senha', required: true %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.input :description, as: :text, label: 'Descrição da Instituição', input_html: {class: 'materialize-textarea'} %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Cadastre-se", class: "col s12 red lighten-1" %>
        </div>
      </div>

    <% end %> <!-- .form-inputs -->

  </div>

  <hr class="hr-text" data-content="ou">
  <div class="row">
    <a class="col s12 m6 offset-m3 center waves-effect waves-light blue darken-4 btn-large">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
       Continuar com Facebook
    </a>
    <a class="col s12 m6 offset-m3 center waves-effect waves-light blue lighten-2 btn-large">
      <i class="fa fa-google" aria-hidden="true"></i>
      Continuar com Google
    </a>
  </div> <!-- .row -->

</div> <!-- .container -->
