<!DOCTYPE html>
<html>
  <head>
    <title>Help2save</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/shared/header"%>
    <%= yield %>
    <%= render partial: "layouts/shared/footer"%>
  </body>
</html>
